.DS_Store
*.log

# Vim
sessions/
home/.config/nvim/view
home/.config/nvim/tmp
.init.vim-rplugin~
home/.config/nvim/.cache
home/.config/nvim/.netrwhist
home/.config/nvim/plugged
home/.config/nvim/plugins

# Vim - Plug
home/.config/nvim/autoload/plug.vim
home/.config/nvim/autoload/plug.vim.old

# Ranger
home/.config/ranger/bookmarks
home/.config/ranger/history
home/.config/ranger/tagged

# NPM configstore
home/.config/configstore
home/.config/fontforge

# Etc
home/.dotfiles/bin/arduino
settings/all/vscode/extensions
