[submodule "home/.dotfiles/plugins/oh-my-zsh"]
	path = home/.dotfiles/plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "home/.dotfiles/zsh/custom/plugins/zsh-nvm"]
	path = home/.dotfiles/zsh/custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm.git
