#!/bin/sh
# -----------------------------------------------------------------------------
# ALIASES
# -----------------------------------------------------------------------------
# Navigation
# Application Shortcuts
# GIT Alias
# File & Folder Manipulation
# Local Server
# Internet & Server
# System
# Development
# Etc
# -----------------------------------------------------------------------------
# Unused
# -----------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# Navigation
# -----------------------------------------------------------------------------

# FOLDER SHORTCUTS
alias dek="cd ~/Desktop"
alias down="cd ~/Downloads"
alias rep="cd ~/Code/Repositories"
alias co="cd ~/Code"

# NAVIGATION
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"

# BROWSING
alias ql="qlmanage -p 2>/dev/null" # preview a file using QuickLook

## LIST

# List files in color with directories first
alias l="/usr/local/bin/gls --color -lah --group-directories-first"

# Same as l alias, but with hidden files
alias la="/usr/local/bin/gls --color -lah --group-directories-first"

# List only directories
alias lsd='ls -l | grep "^d"'
alias ld='lsd'

# Find and replace aliases like in alfred
alias regd="find_and_replace"

# -----------------------------------------------------------------------------
# GIT Alias
# -----------------------------------------------------------------------------

# Git Shortcuts
alias g="git"
alias gap="git add -p"
alias gc="git_check_staged"
alias gac="git_commit"
alias c="git commit -am"
alias gs='scmpuff_status' # npm i -g scmpuff
alias gbda='git_branch_delete_and_push'
alias stash="git stash"
alias gbc="git checkout -b"
alias gb="gitswitchbranch"
alias ga="git_add"
alias gac="git add -A .; git commit -am"
alias gpa="git push -u origin HEAD; git push origin --tags"
alias push="git_push"
alias p="push"
alias pull="git pull"
alias merge="git merge --no-ff"
alias gr="git reset"
alias grh="git reset --hard"
alias clone="git clone --recursive"
alias tag="git tag"
alias ccd="clonecd"
alias rebase="git rebase"
alias grf="git checkout HEAD -- "
alias gclean="git clean -xdf"
alias gundo="git reset --soft HEAD\^"
alias subp="git submodule update --init --recursive"
alias gdry="git fetch --dry-run"
alias gcm="git commit -m"
alias deploy="git push production master"
alias fetch="git fetch"
alias gru="git remote get-url origin"
alias grini="rm -rf .git/; gini"

# Amend a file without changing the commit message
alias gamf="git commit --amend --no-edit"

alias unassumeall="git unassumeall"
alias assumeall="git assumeall"

# Add git tag from the package.json
# alias npmtag="git tag "v$(node -pe 'JSON.parse(process.argv[1]).version' "$(cat package.json)")""

# Tig Aliases
alias ts="tig status"

# Load all submodules
alias gitpup="git pull && git submodule init && git submodule update && git submodule status"

# Nice short summary of the recent commits
alias gl="git log --oneline --graph --all --decorate"

# Git log for a file
alias glf="git log -p"

# Git log with files
# alias glf="git log --oneline --all --decorate --name-status"

# Advanced Git log
alias gla="git log --pretty=format:'%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]' --decorate"

# Advanced Git log with timestamps
alias glt="git log --pretty=format:'%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]' --decorate --date=relative"

# Undo a push
alias gundopush="git push -f origin HEAD^:master"

alias gh1="git checkout \"HEAD~1\""
alias gh2="git checkout \"HEAD~2\""
alias gh3="git checkout \"HEAD~3\""
alias gh4="git checkout \"HEAD~4\""

# -----------------------------------------------------------------------------
# File & Folder Manipulation
# -----------------------------------------------------------------------------

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# File size
alias fs="stat -f \"%z bytes\""

# -----------------------------------------------------------------------------
# Local Server
# -----------------------------------------------------------------------------

# Apache
alias apacheStart='sudo apachectl start'
alias apacheRestart='sudo apachectl restart'
alias apacheStop='sudo apachectl stop'

# Quick Server
alias quickserver='python -m SimpleHTTPServer'
alias server='browser-sync start --server --files="*.html, *.css, *.js"'

# IP address
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Vagrant
alias vu="vagrant up"
alias vup="vagrant up --provision"
alias vssh="vagrant ssh"
alias vh="vagrant halt"
alias vs="vagrant suspend"
alias vr="vagrant reload"

# -----------------------------------------------------------------------------
# Internet & Server
# -----------------------------------------------------------------------------

alias chrome="/usr/bin/open -a /Applications/Google\ Chrome\ Canary.app --new"

# Start a new ssh connection that is kept alive for an hour
alias ssh_keep_alive="ssh -o ServerAliveInterval=600"

# -----------------------------------------------------------------------------
# SYSTEM
# -----------------------------------------------------------------------------

alias bootmac="sudo bless -mount /volumes/macintosh\ hd -setboot"
alias b="bash"

# Describe terminal commands, aliases, functions
# http://brettterpstra.com/2014/11/18/solve-command-line-mysteries-with-type/
alias what="whence -favs"

# Copy the dir name of the current location
alias copydir='basename "$(pwd)" | pbcopy'

#Empty the Mail folder which gets created from local woocommerce for instance
alias emptymail="sudo rm -rf /private/var/mail/\$USER"

# -----------------------------------------------------------------------------
# Development
# -----------------------------------------------------------------------------

# Vim
alias vim="nvim"
alias vi="nvim"
alias v="nvim"
alias v.="v ."

alias y="yarn"
alias ya="yarn add"
alias yad="yarn add --dev"
alias run="npm run"

# Open all changed files in git
alias gv='vim $(echo $(git status --porcelain | sed s/^...//))'

# Quit all gulp tasks
alias pkg="pkill gulp"
alias killgulp="pkill gulp"

# Sublime Bin Workaround to work in tmux
alias subl='reattach-to-user-namespace subl'

# Open git repository in tower app, even when in subdir
alias tower='gittower $(git rev-parse --show-toplevel)'

# -----------------------------------------------------------------------------
# Etc
# -----------------------------------------------------------------------------

# Document Coverter
alias docx_convert_to_html="pandoc -f docx -t html -o"
alias docx_convert_to_markdown="pandoc -f docx -t markdown -o"

# Empty the Trash on all mounted volumes and the main HDD
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; rm -rfv ~/.Trash"

# Tab Completion for all open sessions
alias tma="tmux switch-client -t"

alias check_video_specs='bash ~/.dotfiles/scripts/check_video_specs.sh'
