extends javascript

snippet d
data: () {
  return {
    ${1:varable}: '$2',
  }
},
endsnippet

snippet com
computed: {
  ${1:computedProp} (${2:args}) {
    return $0
  },
},
endsnippet

snippet p
props: [
  '$0'
],
endsnippet

snippet m
methods: {
  ${1:method} (${2:args}) {
    $0
  },
},
endsnippet

# Import
snippet v
<template>
</template>

<script>
export default {
  $0
}
</script>
endsnippet

