# docstring
snippet /**
/**
 * ${0:description}
 */
endsnippet

snippet @par
@param {${1:type}} ${2:name} ${0:description}
endsnippet

snippet @ret
@return {${1:type}} ${0:description}
endsnippet

snippet bp
@media #{${2:min-width}('${1:mobile}')} {
  $0
}
endsnippet

snippet center
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
endsnippet

snippet abs
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
endsnippet
