# -----------------------------------------------------------------------------
# Vuex
# -----------------------------------------------------------------------------

snippet xa
export const ${1:function} = ({ commit, state }) => {
  commit(types.${2:mutation})
}
endsnippet

# -----------------------------------------------------------------------------
# Vue Snippets
# -----------------------------------------------------------------------------

snippet m
methods: {
  ${1:method} (${2:args}) {
    $0
  },
},
endsnippet

snippet p
props: {
  '$0'
},
endsnippet

snippet com
computed: {
  ${1:computedProp} (${2:args}) {
    return $0
  },
},
endsnippet

snippet coo
components: {
  '$1',
},
endsnippet

snippet d
data: () => ({
  ${1:varable}: '$2',
}),
endsnippet

# Import
snippet v
<template>
  <div>

  </div>
</template>

<script>
export default {
  $0
}
</script>
endsnippet

