<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.u.s.yz</string>
	<key>CFBundleName</key>
	<string>US Keyboard YZ Switched</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>KLInfo_U.S. YZ Switched</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.u.s.yz.u.s.yzswitched</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
</dict>
</plist>
